@{
    ViewBag.Title = "Index";
}

<h2>Contact Us</h2>

<body>

    <div id="about-content" style="width:80%">

        <p>
           Would you like to be a part of our family and advertise your restaurant?<br />
           We are also always happy to hear recommendations and improve ourselves! 
        </p>
        <p>
            <a href="mailto:DineWith@gmail.com">Email Us</a> 
        </p>
        
    </div>

    </body>



